@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('responsive.css');

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #f4f7fa;
}

div#wrapper {

}

header#main-header {
	min-height: 40px;
	padding: 10px 5px;
	/*background-color: #FFF;*/
	background-color: #FFF;
	box-shadow: 0 4px 8px 0 rgba(48,82,120,.03);
}

div#logo {
	width: 100px;
}

div#logo img {
	width: 100%;
}

nav#main-nav {
	padding: 0px;
	background-color: #16a085;
}

nav#main-nav ul {
	padding:0px 5px;
	margin:0px;
}

nav#main-nav ul li {
	list-style: none;
	display: inline-block;
}

nav#main-nav ul li a {
	display: inline-block;
	padding: 10px;
	color: #F1F1F1;
	text-decoration: none;
	border-bottom: 3px solid #16a085;
	font-size: 12px;
}
nav#main-nav ul li a.active {
	border-bottom: 3px solid #FFF;
	font-weight: bold;
}

nav#main-nav ul li a:hover {
	border-bottom: 3px solid #E1E1E1;
}

#menu-bar {
	display: none;
	background-color: #16a085;
	color: #FFF;
	text-align: center;
	padding: 15px;
	border-bottom: 1px solid #E1E1E1;
}

.section {
	margin: 50px auto;
}

.section-header {

}

.section-header .header-text {
	margin:40px 0px;
}

.content {
	padding: 40px;
}

.content h4 {
	color: #676;
}

.content.center-piece {
	background-color: #FFF;
	margin: 0px auto;
	min-height: 100px;
}

.content.center-piece.shadow {
	box-shadow: 0px 41px 49px -38px rgba(153,153,153,0.5);
}

.content.center-piece.narrow-width {
	width: 20%;
}

.content.center-piece.medium-width {
	width: 50%;
}

.content.center-piece.wide-width {
	width: 90%;
}

.content.bottom-bar {
	border-bottom: 3px solid #16a085;
}

.content.left-bar {
	border-left: 5px solid #16a085;
}

/* input element styles */
.input-container {
	margin: 10px 0px;
}

.input-container label {
	display: block;
	font-weight: normal;
	color: #999;
}

.input-container span.input-error {
	color: #c0392b;
	font-size: 12px;
	display: block;
	margin:4px;
}

.input-element {
	width: 100%;
	border:none;
	background-color: #F1F1F1;
	outline: none;
	padding: 5px 10px;
	border-bottom: 2px solid #F1F1F1;
}

.input-element:focus {
	border-bottom: 2px solid #16a085;
}

.input-element.error {
	border-bottom: 2px solid #c0392b;
}

.action-btn {
	border: none;
	padding: 8px 20px;
	outline: none;
	transition: all 0.5s ease;
}

.action-btn:hover {
	box-shadow: 0 4px 8px 0 rgba(48,82,120,.2);
}

.action-btn.btn-main {
	background-color: #16a085;
	color: #FFF;
}

/***********************/

/******* TABLE STYLES *************/

.ui-table {

}

table.ui-table th {
	padding: 10px !important;
	font-weight: normal;
	text-transform: uppercase;
	border-bottom: 1px solid #E1E1E1 !important;
}

table.ui-table td {
	padding: 10px !important;
}

.btn-default.active.focus, 
.btn-default.active:focus, 
.btn-default.active:hover, 
.btn-default:active.focus, 
.btn-default:active:focus, 
.btn-default:active:hover, 
.open>.dropdown-toggle.btn-default.focus, 
.open>.dropdown-toggle.btn-default:focus, 
.open>.dropdown-toggle.btn-default:hover
{
	background-color: transparent;
	outline: none;
}

button#table-ellipses {
	border:none;
	background-color: transparent;
}

button#table-ellipses:focus, button#table-ellipses:active {
	outline: none;
	background-color: transparent;
	box-shadow: none;
}


/* **** GENERAL STYLES **** */
.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.descriptive-text {
	color: #999;
	font-size: 14px;
}

.green-text {
	color: #16a085;
}