/******************* MEDIA  QUERIES ***************************/


/* Large Devices, Wide Screens */

@media only screen and (max-width : 1600px) {

}

@media only screen and (max-width : 1400px) {

}

@media only screen and (max-width : 1200px) {
	.content.center-piece {
		width: 70% !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {
	header#main-header {
		text-align: center;
	}

	.content.center-piece {
		width: 90% !important;
	}

	div#logo {
		margin: 0px auto;
	}

	nav#main-nav{
		display: none;
	}

	nav#main-nav ul li {
		width: 100%;
	}

	nav#main-nav ul li a {
		display: block;
		text-align: center;
		width: 100%;
		padding: 15px !important;
	}

	#menu-bar {
		display: block !important;
	}

	.table-container {
		overflow-x: scroll;
	}

	.ui-table {

	}

	table.ui-table th, table.ui-table td {
		table-layout: fixed;
		width: 100px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.action-btn {
		width: 100%;
	}

	.input-element {
		padding: 12px 10px !important;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.content.center-piece {
		width: 96% !important;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}