<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Supplier Registration | Easy Shop Retail</title>

        <!-- Styles -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link href="css/master.css" rel="stylesheet" >

        <!-- Font awesome -->
        <script src="https://use.fontawesome.com/7fcf9fe887.js"></script>

    </head>
    <body>

        <div id="wrapper">

            <!-- Start Header partial -->

                <header id="main-header">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div id="logo">
                                    <img src="images/logo-placeholder.svg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </header>

            <!-- End Header partial -->

            
            <!-- @yield('content') here -->

            <!-- Start Registration partial -->

            <!-- @extends('layouts.master') -->

            <!-- @section('content') -->

                <div>

                    <div class="container-fluid section-header">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="header-text align-center">
                                    <h4>Supplier Registration</h4>
                                    <span class="descriptive-text">
                                        Please fill in the form below to register
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content center-piece shadow medium-width left-bar">

                        <div class="container-fluid">

                            <form action="{{route('')}}" method="POST">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-container">
                                            <label>First Name</label>
                                            <input type="text"
                                                name="first_name"
                                                class="input-element" /> <!-- if the input field has an error add class : error -->
                                            <span class="input-error"></span> <!-- if the input field has an error add text in this span -->
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-container">
                                            <label>Last Name</label>
                                            <input type="text"
                                                name="last_name"
                                                class="input-element" />
                                            <span class="input-error"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-container">
                                            <label>Preferred Name</label>
                                            <input type="text"
                                                name="preferred_name"
                                                class="input-element" />
                                            <span class="input-error"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-container">
                                            <label>Telephone</label>
                                            <input type="text"
                                                name="telephone"
                                                class="input-element" />
                                            <span class="input-error"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-container">
                                            <label>Supplier Type</label>
                                            <select class="input-element" name="gender">
                                                <option value="">Select Type</option>
                                                <option value="company">Company</option>
                                                <option value="individual">Individual</option>
                                            </select>
                                            <span class="input-error"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-container">
                                            <label>Email</label>
                                            <input type="email"
                                                name="email"
                                                class="input-element" />
                                            <span class="input-error"></span>
                                        </div>
                                    </div>
                                </div>

                                <hr/>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-container">
                                            <label><i class="fa fa-lock green-text" aria-hidden="true"></i> &nbsp;&nbsp; Password</label>
                                            <input type="password"
                                                name="password"
                                                class="input-element" />
                                            <span class="input-error"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="input-container">
                                            <label><i class="fa fa-lock green-text" aria-hidden="true"></i> &nbsp;&nbsp; Confirm Password</label>
                                            <input type="password"
                                                name="confirm_password"
                                                class="input-element" />
                                            <span class="input-error"></span>
                                        </div>
                                    </div>
                                </div>

                                <hr/>

                                <div class="row">

                                    <div class="col-md-12">
                                        <button class="action-btn btn-main">Register</button>
                                    </div>

                                </div>

                            </form>

                        </div>

                    </div>
                </div>

            <!-- @endsection -->


            <!-- End Registration partial -->

        </div>

    </body>
</html>
